@model IEnumerable<PhotoShr.Models.user_activity>
@{
    ViewBag.Title = "RecentActivity";
}

<h1>@ViewBag.Username - Recent Activity</h1>
<hr />

<ul class="nav nav-pills">
    <li><a href="@Url.Content(string.Format("/User/{0}/Index/", ViewBag.Username))">Photos</a></li>
    <li><a href="@Url.Content(string.Format("/User/{0}/Stories/", ViewBag.Username))">Stories</a></li>
    <li><a href="@Url.Content(string.Format("/User/{0}/Sets/", ViewBag.Username))">Sets</a></li>
    <li><a href="@Url.Content(string.Format("/User/{0}/Groups/", ViewBag.Username))">Groups</a></li>
    <li><a href="@Url.Content(string.Format("/User/{0}/Favorites/", ViewBag.Username))">Favorites</a></li>
    <li class="active"><a href="@Url.Content(string.Format("/User/{0}/RecentActivity/", ViewBag.Username))">Recent Activity</a></li>    
</ul>
<div class="row-fluid">
    <div class="span12">
        @if (Model.Count() > 0)
        {
            <ul class="thumbnails">
                @foreach (var activity in Model)
                {
                    <li class="span4 photo">
                        <a href="@Url.Content(string.Format("/Photo/Details/{0}", activity.photo.id))">
                            <img src="@Url.Content(activity.photo.photo_url_m)"  alt="@activity.photo.name" />
                        </a>
                        <div class="caption">
                            
                            @switch (activity.change_type)
                            {
                                case "NEWPHOTO":
                                    <p>
                                        <a href="@Url.Content(string.Format("/User/{0}/Index/",activity.user.membership.username))">
                                            @activity.user.membership.username
                                        </a>
                                         uploaded 
                                        <a href="@Url.Content(string.Format("/Photo/Details/{0}",activity.photo_id))">
                                            @activity.photo.name
                                        </a>
                                    </p>
                                    break;
                                case "LIKED":
                                    <p>
                                        <a href="@Url.Content(string.Format("/User/{0}/Index/",activity.user.membership.username))">
                                            @activity.user.membership.username
                                        </a>
                                         liked 
                                        <a href="@Url.Content(string.Format("/Photo/Details/{0}",activity.photo_id))">
                                            @activity.photo.name
                                        </a>
                                    </p>
                                    break;
                                case "COMMENT":
                                    <p>
                                        <a href="@Url.Content(string.Format("/User/{0}/Index/",activity.user.membership.username))">
                                            @activity.user.membership.username
                                        </a>
                                         commented on 
                                        <a href="@Url.Content(string.Format("/Photo/Details/{0}",activity.photo_id))">
                                            @activity.photo.name
                                        </a>
                                    </p>
                                    break;
                                case "FAV":
                                    <p>
                                        <a href="@Url.Content(string.Format("/User/{0}/Index/",activity.user.membership.username))">
                                            @activity.user.membership.username
                                        </a>
                                         faved 
                                        <a href="@Url.Content(string.Format("/Photo/Details/{0}",activity.photo_id))">
                                            @activity.photo.name
                                        </a>
                                    </p>
                                    break;
                            }
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="alert alert-block alert-error fade in">
                <h4 class="alert-heading">You have not created any sets</h4>
            </div>
        
        }

    </div>
</div>
